*{
    font-family: 'Roboto', sans-serif;
}

.full-bg{
    background-color: #e3e3e3;
}

img{
    max-width: 100%;
}

figure{
    position: relative;
}

.left-side figure div{
    position: absolute;
    bottom: 0;
    right: 50px;
}

.skill{
    position: relative;
    height: 5px;
    border-radius: 3px;
    background: #ccc;
}

.skill .achievement{
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    width: 20%;
    border-radius: 3px;
    background: #fff;
}

.skill .achievement span{
    position: absolute;
    right: -7px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    top: -4.5px;
    display: inline-block;
}

.decoration-none{
    text-decoration: none !important;
    color: inherit;
}

.fa{
    font-size: 32px;
}

.left-side aside{
    height: 100%;
}

.left-side a,
.left-side address{
    color: #fff;
    font-size: 1.25rem;
}

.text-grey{
    color: #d7e6f6;
}

.right-side .fa{
    font-size: 2.5rem;
}

.right-side .fa,
.right-side h2,
.right-side p{
    color: #737373;
}

.right-side h4{
    color: #636363;
    font-size: 1.25rem;
}

.watch img{
    width: 30px;
    height: auto;
}

.interests figure img{
    width: 50%;
    height: 100%;
}

.box-shadow-blue{
    box-shadow: 0 0 15px rgba(56, 164, 221, 0.4);
}

/* Glow */
.hvr-glow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #1884bc;
    transition: 0.7s;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}
